[submodule "client"]
    path = frontend
    url = https://github.com/yashrajoria03/chat-app-frontend.git

[submodule "server"]
    path = backend
    url = https://github.com/pragun-bansal/chat-app-back-end.git